body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.row {
  width: 100vw;
  min-height: 100vh;
  background: #222;
}

.column-left {
  width: 48vw;
  padding: 10px;
  float: left;
  background-color: #F6F5AE;
}

.column-right {
  padding: 10px;
  width: 48vw;
  float: right;
  background-color: #F6F5AE;
}