<!--create a listing template-->
{% block header %}
  <h1>{% block title %}Line Waiter Listing Page{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
      <label for="name">Name: </label>
      <input name="name" id="name" required pattern="[A-Za-z]+" title="Name must contain at least one alphabetical character">
      <br>
      <label for="location">Location of requested listing: </label>
      <input name="location" id="location" required pattern="[A-Za-z]+" title="Location must contain at least one alphabetical character">
      <br>
      <label for="time">Time of requested listing: </label>
      <input name="time" id="time" required>
      <br>
      <label for="duration">How long is the expected waiting time: </label>
      <input name="duration" id="duration" required pattern="[0-9]+" title="Duration must contain at least one numerical character">
      <br>
      <label for="price">How much in USD are you willing to pay: </label>
      <input name="price" id="price" required pattern="[0-9]+" title="Price must contain at least one numerical character">
      <br>
      <label for="description">Description of listing: </label>
      <input name="description" id="description" required pattern="[A-Za-z]+" title="Description must contain at least one alphabetical character">
      <br>
      <input type="submit" value="Submit form">
  </form>
  {% if error %}
    <p>{{ error }}</p>
  {% endif %}
  {% if success %}
    <p>Listing created successfully!</p>
  {% endif %}
{% endblock %}
