<!doctype html>
<title>Line Waiter Website</title>
<h1>Hello! Welcome to Line Waiter.</h1>
<br>
<form>
  <label for="username">Username:</label><br>
  <input type="text" id="username" name="username"><br>
  <label for="password">Password:</label><br>
  <input type="text" id="password" name="password">
</form>
<a href="ask">makealisting</a>


{% block content %}
<form method="post">
    <br>
    <label for="redirect">Redirect to user page?</label>
    <input type="radio" name="request" id="yes" value="yes">
    <label for="yes">Yes</label>
    <input type="radio" name="request" id="no" value="no">
    <label for="No">No</label>
    <br>
    <input type="submit" value="Submit!">
</form>
{% endblock %}
