<!--create a listing template-->
{% block header %}
  <h1>{% block title %}Line Waiter Listing Page{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
      <label for="name">Name: </label>
      <input name="name" id="name">
      <br>
      <label for="location">Location of requested listing: </label>
      <input name="location" id="location">
      <br>
      <label for="time">Time of requested listing: </label>
      <input name="time" id="time">
      <br>
      <label for="duration">How long is the expected waiting time: </label>
      <input name="duration" id="duration">
      <br>
      <label for="price">How much in USD are you willing to pay: </label>
      <input name="price" id="price">
      <br>
      <label for="description">Description of listing: </label>
      <input name="description" id="description">
      <br>
      <input type="submit" value="Submit form">

  </form>
{% endblock %}
