
{% block header %}
  <h1>{% block title %}Line Waiter{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
      <label for="name">What would you like us to call you?</label>
      <input name="name" id="name">
      <br>
      <label for="LinWaiter">Are you initiating a new request?</label>
      <input type="radio" name="request" id="yes" value="yes">
      <label for="yes">Yes</label>
      <input type="radio" name="request" id="no" value="no">
      <label for="No">No</label>
      <br>
      <input type="submit" value="Submit form">
  </form>
  {% if name %}
  <br>
  {% if request == "yes" %}
  <b>Hello {{name}}!  Please tell us more about the request!</b>
  {% else %}
  <b>Hello {{name}}!  Do you want to take a request??</b>
  {% endif %}
  {% endif %}
{% endblock %}
