.listing-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #151E3F;
    margin-bottom:2%;
    margin-left: 5%;
}

.listing {
    margin-top: 1%;
    border: 2px solid #151E3F;
    padding-left: 20%;
    padding-right: 20%;
    background: #F6F5AE;
    width: 16rem;
    height: 17rem;
    border-radius: 15%;

}

.listing-title {
    margin-top: 0.2rem;
    font-size: 2rem;
    text-align: center;
    font-family: "Comic Sans MS";
}

.listing-subtext {
    font-size: 1rem;
    margin-top: 0.5rem;
    text-align: center
}

.accept-button {
    align-items: center;
    margin-bottom: 1%;
    height: 5%;
    width: 100%;
    font-size: 1rem;
    border-radius: 10rem;
    border: 2px solid #9C7A97;
    cursor: pointer;
    background: #477998;
}

.listing-submit {
    display: flex;
    align-items: center;
    justify-content: center;
}