.navbar {
     width: 100vw; /* Full viewport width */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #2F1F1B;
    color: #fff;
    padding: 20px 0; /* Adjust padding as needed */
    padding-right:1rem;
}

ul {
    flex: 1;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

ul li {
    display: inline-block;
    margin: 15px 20px;
    font-size: 24px;
    cursor: pointer;
}


a {
    color: #F6E7E2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.logout-link {
    font-size: 24px;
}
