.navbar {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #2F1F1B;
  color: #fff;
  padding: 20px 1rem;
}

ul {
  display: flex;
  flex: 1;
  list-style: none;
  justify-content: center;
  align-items: center;
  padding: 0;
  padding-left: 4rem;
  margin: 0;
  gap: 20px;
}

ul li {
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 24px;
  cursor: pointer;
}

a {
  color: #F6E7E2;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.logout-link {
  font-size: 24px;
  margin-left: auto;
}